.profile-pass input{
  padding-left:30px;
  background-image: url("../../images/password.png");
  background-repeat: no-repeat;
  background-position: 5px;
  text-align: left;
}

.profile-img{
  width: 500px;
  height: 433px;
}