.kamairan-form h1{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  font-family: IRANyekan;
}
.kama-theme{
  border-radius: 10px;
  border: solid 1px #dfe4ea;
  background-color: #ffffff;
  padding:30px;
  text-align: center;
}
.kamairan-form{
background-color: #333840;
border-radius: 16px;
padding: 32px;
color: #fff;
}
