
.ProfileSidebar  .nav-item{
  border-bottom: solid 2px #dfe4ea;
padding: 9px;
}
.ProfileSidebar .navbar-nav{
  width:100%;
  padding-right: 0 !important;
}
.ProfileSidebar .navbar{padding:0 !important;}
.ProfileSidebar  .nav-item .active{color:#0074bc;}
.ProfileSidebar .nav-link img{ margin-left: 9px;margin-right: 5px;}
.ProfileSidebar .nav-link {font-size:14px;font-family:IRANyekan ;}
.ProfileSidebar .nav-item .number{
  border-radius: 100px;
border: solid 1px #27ae60;
background-color: #b0f8ce;
margin-right: auto;
width: 22px;
height: 22px;
margin-top: 7px;
padding-right: 8px;
color: #27ae60;
font-size: 16px;
}